.vscode
__pycache__/
Datasets
share
etc
*.h5
lib/python3.10/site-packages/n*
lib/python3.10/site-packages/t*
lib/python3.10/site-packages/j*
lib/python3.10/site-packages/g*
lib/python3.10/site-packages/m*
lib/python3.10/site-packages/p*